.profile__avatar-edit {
    left: 47px;
    opacity: 0;
    position: absolute;
    top: 47px
}

.profile__avatar {
    position: relative
}

.profile__avatar:hover .profile__image {
    filter: opacity(20%)
}

.profile__avatar:hover .profile__avatar-edit {
    opacity: 100%
}